<section
    class="grid grid-cols-1 md:grid-cols-2 min-h-screen px-8 md:px-20 py-16 gap-10 pt-24"
>
    <!-- IZQUIERDA -->
    <div class="hidden lg:flex justify-center items-center">
        <img src="/smart-agenda.png" alt="Agenda inteligente" />
    </div>

    <!-- DERECHA -->
    <div class="flex flex-col justify-start gap-6">
        <h2 class="text-4xl md:text-5xl font-medium">Agenda Inteligente</h2>

        <p class="opacity-80 text-base md:text-lg max-w-lg font-light">
            Controla tu agenda con un sistema completo de citas. Tus pacientes
            pueden reservar online, recibir recordatorios automáticos por email.
        </p>

        <ul class="space-y-3 mt-2 md:mt-4 feature-list">
            <li
                class="p-3 md:p-4 bg-linear-to-r from-blue-200 via-white to-white rounded-lg text-sm md:text-base feature-item"
            >
                Crear, editar, cancelar citas en segundos
            </li>
            <li
                class="p-3 md:p-4 bg-linear-to-r from-blue-200 via-white to-white rounded-lg text-sm md:text-base feature-item"
            >
                Calendario con tus citas
            </li>
            <li
                class="p-3 md:p-4 bg-linear-to-r from-blue-200 via-white to-white rounded-lg text-sm md:text-base feature-item"
            >
                Recordatorios automáticos a pacientes
            </li>
            <li
                class="p-3 md:p-4 bg-linear-to-r from-blue-200 via-white to-white rounded-lg text-sm md:text-base feature-item"
            >
                Vista diaria, semanal y mensual
            </li>
        </ul>
    </div>
</section>
