<section
    class="grid grid-cols-1 md:grid-cols-3 min-h-screen gap-8 md:gap-4 sm:gap-6 pt-24"
>
    <!-- TEXTO -->
    <div class="col-span-1 md:col-span-2 flex items-start p-6">
        <h2
            class="font-light text-xl sm:text-2xl md:text-3xl lg:text-4xl w-full opacity-80 px-4 text-left"
        >
            MotionHub es una aplicación diseñada para conectar fisioterapeutas y
            pacientes en un mismo ecosistema digital.
        </h2>
    </div>

    <!-- IMAGEN -->
    <div class="flex justify-center items-center p-6">
        <img
            src="/icon.svg"
            alt="icon"
            class="w-40 sm:w-56 md:w-full max-w-md object-contain"
        />
    </div>
</section>
