---
import Icons from "./Icons.astro";

interface Props {
    icon: string;
    text: string;
    description: string;
}
const { icon, text, description } = Astro.props;
---

<div class="shadow-lg p-4 rounded-lg ">
    <div class="flex justify-start items-center gap-2">
        <Icons name={icon} />
        <h3 class="text-lg font-light opacity-80">{text}</h3>
    </div>
    {description && <p class="text-sm opacity-60 pt-2">{description}</p>}
</div>
