---
import Icons from "./Icons.astro";

interface Props {
    color: "white" | "blue";
    title: string;
    description: string;
    iconName: string;
}
const themeInfoCard = {
    white: "bg-white",
    blue: "bg-blue-100",
};
const { title, description, color, iconName } = Astro.props;
---

<div class={`${themeInfoCard[color]} rounded-2xl shadow-lg p-6`}>
    <div class="mb-3">
        <Icons name={iconName} />
    </div>
    <h3 class="font-semibold mb-2">{title}</h3>
    <p class="text-sm text-gray-700 font-light">
        {description}
    </p>
</div>
