---
import Button from "../../components/common/Button.astro";
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/home/Nav.astro";
import Footer from "../../components/common/Footer.astro";
import InfoCardsPhone from "../../components/common/InfoCardsPhone.astro";
import InfoTools from "../../components/common/InfoTools.astro";
---

<Layout title="MotionHub">
  <Nav />

  <main
    class="relative flex flex-col items-center gap-4 py-8 sm:py-12 lg:py-45 h-screen"
  >
    <!-- Content -->
    <div class="w-full max-w-5xl relative z-10">
      <div class="flex flex-col items-center gap-4 sm:gap-6">
        <h2
          class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-center px-4"
        >
          Gestiona tu práctica de Fisioterapia de Forma Profesional
        </h2>

        <p
          class="font-light text-sm sm:text-base text-center w-full sm:w-4/5 md:w-3/4 lg:w-2/3 xl:w-1/2 opacity-80 px-4"
        >
          Herramientas completas para gestionar pacientes, crear rutinas
          personalizadas y monitorear la evulución de tus tratamientos.
        </p>

        <div class="flex flex-wrap justify-center gap-4">
          <Button text="Iniciar sesión →" href="#" theme="dark" />
          <Button text="Más información" href="#" theme="white" />
        </div>
      </div>
    </div>
  </main>

  <!-- Los cuadros disparegos JJAJA  -->

  <section class="w-full flex justify-center py-20">
    <div class="w-full max-w-7xl px-4 sm:px-6">
      <!-- linea -->
      <div class="w-full h-0.5 bg-gray-800/20 mb-10"></div>

      <h3 class="text-2xl md:text-3xl font-semibold text-center mb-10 md:mb-14">
        Herramientas Profesionales
      </h3>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-flow-row-dense gap-6"
      >
        <!-- cuadro 1 -->

        <InfoTools
          color="blue"
          title="Gestión de Pacientes"
          description="Administra perfiles completos con historial clínico, datos personales y expedientes digitales centralizados."
          iconName="user"
        />

        <!-- cuadro 2 -->

        <InfoTools
          color="white"
          title="Agenda Inteligente"
          description="Gestiona citas con recordatorios automáticos, reprogramación fácil y sincronización con tu calendario."
          iconName="schedule"
        />

        <!-- cuadro 3 -->
        <div
          class="bg-white rounded-2xl shadow-lg p-6
                  flex flex-col items-center justify-center text-center
                  sm:col-span-2 lg:col-span-1 lg:row-span-2 hover:translate-y-2 transition-all duration-300"
        >
          <div class="mb-4">
            <svg
              class="w-8 h-8 text-gray-800"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              viewBox="0 0 24 24"
            >
              <circle cx="12" cy="5" r="2"></circle>
              <path
                stroke-linecap="round"
                d="M12 7v10M7 22l5-5 5 5M6 12l6-3 6 3"></path>
            </svg>
          </div>
          <h3 class="font-semibold mb-2">Rutinas personalizadas</h3>
          <p class="text-sm text-gray-700 font-light">
            Accede a ejercicios diseñados específicamente para tu condición y
            objetivos de recuperación.
          </p>
        </div>

        <!-- cuadro 4 -->

        <InfoTools
          color="white"
          title="Seguimiento de Progreso"
          description="Registra tu evolución, nivel de dolor y logros para que tu terapeuta ajuste tu tratamiento."
          iconName="follow-progress"
        />

        <!-- cuadro 5 -->

        <InfoTools
          color="blue"
          title="Dashboards Analíticos"
          description="Visualiza la evolución de tus pacientes con gráficos de progreso, adherencia y métricas de dolor."
          iconName="metrics"
        />

        <!-- cuadro 6 -->

        <InfoTools
          color="blue"
          title="Privacidad"
          description="Garantizamos tu privacidad mediante el manejo seguro de consentimientos y accesos autorizados."
          iconName="shield-check"
        />

        <!-- cuadro 7 -->

        <InfoTools
          color="white"
          title="Exportación de Datos"
          description="Genera reportes profesionales y exporta historiale clínicos en formato PDF."
          iconName="download"
        />

        <!-- cuadro 8 -->
        <InfoTools
          color="blue"
          title="Panel de Administración"
          description="Gestiona usuarios, revisa métricas de tu práctica y accede a logs de actividad completos."
          iconName="settings"
        />
      </div>
    </div>
  </section>

  <!-- línea -->

  <section class="w-full flex justify-center py-20">
    <div class="w-full max-w-7xl px-6">
      <div class="w-full h-0.5 bg-gray-800/20 mb-10"></div>

      <!-- Los cuadrotes   -->

      <h3 class="text-3xl font-semibold text-center mb-14">
        Descubre cómo funciona MotionHub
      </h3>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <!-- cuadro 1 -->

        <InfoCardsPhone
          title="Gestión Clínica Integral"
          description="Administra expedientes, coordina tu agenda de citas y gestiona los perfiles de tus pacientes desde un panel centralizado y seguro."
        />

        <!-- Cuadro 2 -->

        <InfoCardsPhone
          title="Diseño de Rutinas Personalizadas"
          description="Crea planes de ejercicios específicos, asigna contenido multimedia y define la frecuencia para la rehabilitación de cada paciente."
        />
        <!-- Cuadro 3 -->

        <InfoCardsPhone
          title="Monitoreo de Evolución"
          description="Visualiza el progreso real de tus pacientes mediante dashboards intuitivos que reflejan cumplimiento, dolor y métricas de recuperación."
        />
      </div>
    </div>
  </section>

  <main
    class="relative flex flex-col items-center gap-4 py-8 sm:py-12 lg:py-45"
  >
    <!-- Content -->
    <div class="w-full max-w-5xl relative z-10">
      <div class="flex flex-col items-center gap-4 sm:gap-6">
        <h2
          class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-center px-4"
        >
          Eleva tu Práctica al Siguiente Nivel
        </h2>
        <div class="flex flex-wrap justify-center gap-4">
          <Button text="Iniciar sesión →" href="#" theme="dark" />
        </div>
      </div>
    </div>
  </main>

  <!-- línea -->

  <section class="w-full flex justify-center py-20">
    <div class="w-full max-w-7xl px-6">
      <div class="w-full h-0.5 bg-gray-800/20 mb-10"></div>
    </div>
  </section>

  <Footer />
</Layout>
